<div class="shopping-cart">
  <!-- Title -->
  <div class="title">
    Shopping Bag
  </div>
 
  <!-- Product #1 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>
    <div class="image">
      <img [src]="'assets/item-1.png'" alt="" />
      </div>
   
      <div class="description">
        <span>Groceries</span>
        <span>Sona Masoori</span>
        <span>Rice</span>
      </div>
   
      <div class="quantity">
        <button class="minus-btn" type="button" name="button">
          <i class="fas fa-minus"></i>
        </button>
        <input type="text" name="name" value="1">
          <button class="plus-btn" type="button" name="button">
            <i class="fas fa-plus"></i>
          </button>
      </div>
   
      <div class="total-price">$9</div>
    </div>
   
    <!-- Product #2 -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>
   
      <div class="image">
        <img src="minus.svg" alt=""/>
      </div>
   
      <div class="description">
        <span>Groceries</span>
        <span>Ashirvadh</span>
        <span>Ata</span>
      </div>
   
      <div class="quantity">
        <button class="minus-btn" type="button" name="button">
          <i class="fas fa-minus"></i>
        </button>
        <input type="text" name="name" value="1">
          <button class="plus-btn" type="button" name="button">
            <i class="fas fa-plus"></i>
          </button>
      </div>
   
      <div class="total-price">$80</div>
    </div>
   
    <!-- Product #3 -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>
   
      <div class="image">
        <img src="item-3.png" alt="" />
      </div>
   
      <div class="description">
        <span>Groceries</span>
        <span>Fortune</span>
        <span>Oil</span>
      </div>
   
      <div class="quantity">
        <button class="minus-btn" type="button" name="button">
          <i class="fas fa-minus"></i>
        </button>
        <input type="text" name="name" value="1">
          <button class="plus-btn" type="button" name="button">
            <i class="fas fa-plus"></i>
          </button>
      </div>
   
      <div class="total-price">$34</div>
    </div>
  </div>